body {
  position: relative;
  border: 1px solid black;
  min-height: 700px;
}

div {
  position: absolute;
  border: 1px solid green;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;;
  min-height: 700px;
  width: 100%;
}

div > button {
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: aquamarine;
  outline: none;
}

button:hover {
  background-color: aqua;
}
/*
div {
  position: absolute;
  border: 1px solid black;
  z-index: 1000;
}*/

section {
  /*border: 1px solid black;*/
  position: fixed;
  height: 40px;
  min-width: 140px;
  font-size: 30px;
  margin-top: 40%;
  margin-left: 44%;
  cursor: pointer;
  /*z-index: 100;*/
}

section:hover {
  color: aqua;
}

#canvas {
  border: 5px solid red;
  background-image: url("../images/cartoon_background1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
